
/* 노멀라이즈 */
*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.row::after{
  display: block;
  content: "";
  clear:  both;
}
.cell{
  float: left;
}
.cell-r{
  float: right;
}
/* 스타일 */
/* 공통 */
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
header{
  padding-bottom: 83px;
}
body{
  background-color: #f8f9fa;
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}
/* top-bar 시작 */
#top-bar-wrap{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
}
#first-top-bar{
  width: 100%;
  height: 40px;
  background-color: #E3FFDB;
}
#logo-box{
  width: 150px;
  height: 100%;
}
#logo-box > h3{
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: #006E00;
}
#login-status{
  width: 100px;
  height: 100%;
}
#login-status > h4{
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: #006E00;
}
#second-top-bar{
  width: 100%;
  height: 40px;
  border-bottom: solid 3px green;
  box-shadow: 1px 3px 4px darkgray; 
}
#nav-bar{
  margin: auto;
  width: 500px;
  height: 100%;
}
#nav-bar > .menu{
  width: 33.3%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  color: #009300;
}
#nav-bar:hover > .menu{
  color: #ddd;
}
#nav-bar > .menu:hover {
  color: #009300;
  background-color: #E3FFDB;
}
#nav-bar > .menu > a{
  display: block;
}
/* top-bar 끝 */
/* article 시작 */
article{
  display: flex;
}
/* article 끝 */