/* card-wrap 시작 */
#card-wrap{
  width: 800px;
  margin: auto;
  padding: 10px;
  padding-top: 40px;
}
#tag-wrap{
  width: 100%;
}
#tag-input{
  width: 140px;
  height: 30px;
  text-align: center;
  font-family: inherit;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
  margin-right: 5px;
  margin-bottom: 5px;
}
#tag{
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  font-family: inherit;
  text-align: center;
  background-color: inherit;
}
#tag-list > .tag-item{
  height: 30px;
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  line-height: 30px;
  padding: 0 5px;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
  margin-right: 5px;
  margin-bottom: 5px;
}
#move-btn-wrap{
  margin-top: 30px;
  width: 100%;
}
.move-btn{
  width: 100px;
  height: 25px;
  background-color: #008000;
  color: white;
  text-align: center;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
}
#card{
  width: 100%;
  margin-top: 20px;
  background-color: #FAF4C0;
  border-radius: 10px;
  box-shadow: 1px 3px 10px darkgray;
}
#card-info{
  width: 100%;
  margin-top: 5px;
  height: 30px;
}
#card-num{
  width: 20%;
  padding-left: 5px;
}
#card-num > span{
  margin-right: 5px;
  line-height: 30px;
  color: #008000;
}
#learningStatus{
  width: 25%;
  text-align: center;
  color: #008000;
}
#msg-box{
  width: 25%;
  text-align: center;	
}
#msg{
  color: darkgray;
  font-family: inherit;
  font-size: 10px;
}
#card-body{
  width: 100%;
  height: calc(100% - 30px);
}
#question{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0px;
  height: 50px;
  margin-top: 20px;
}
#question > span{
  margin: 0 10px;
  color: #008000;
}
#card-body > hr{
  width: 98%;
  margin: auto;
}
#answer{
  display: none;
}
#answer.active{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0px;
  margin: 20px 0;
}
#answer > span{
  margin: 0 10px;
  color: #008000;
}
#disappearable{
  display: none;
}
#disappearable.active{
  display: block;
}
#answer-check, #answer-hide{
  display: none;
}
#answer-check.active, #answer-hide.active{
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: #008000;
  cursor: pointer;
}
#usr-answer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0px;
}
#usr-answer > span{
  margin: 0 10px;
  margin-top: 15px;
  color: #008000;
}
#usr-answer > textarea{
  margin-top: 15px;
  width: 90%;
  height: 60%;
  resize: none;
  border: none;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  overflow-y: scroll;
}
.btn-list{
  width: 100%;
}
.del-wrap{
  width: 80px;
  height: 30px;
  margin: 20px auto;
  background-color: #960707;
  color: white;
  border: solid 1px #BA2B2B;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
}
.card-del-btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  font-family: inherit;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  width: 100%;
}
.modify-wrap{
  width: 80px;
  height: 30px;
  margin: 20px auto;
  background-color: #008000;
  color: white;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
}
.modify-btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  font-family: inherit;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  width: 100%;
}
/* card-wrap 끝 */