/* list의 검색 폼 시작 */
#list-wrap{
  width: 800px;
  margin: auto;
  padding: 10px;
  padding-top: 40px;
}
#search-form{
  width: 100%;
  height: 200px;
}
#filter-wrap{
  width: 60%;
  height: 100px;
  margin: auto;
}
.filter-box{
  width: 33.33%;
  height: 100%;
}
.filter-name{
  width: 100%;
  height: 40%;
  text-align: center;
}
.filter-name > span{
  line-height: 40px;
}
.filter-select{
  width: 100%;
  height: 60%;
  text-align: center;
}
.filter-select > select{
  width: 80%;
  height: 30px;
  text-align: center;
  font-family: inherit;
  border: solid 1px #008000;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
}
#searchKeyword-box{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #008000;
  box-shadow: 1px 2px 5px darkgray;
}
#searchKeyword-box > input{
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: inherit;
}
#searchKeyword-box > button{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  fill: #008000;
}
/* list의 검색 폼 끝 */

/* list 시작 */
#list-main{
  width: 100%;
}
#checkbox-wrap{
  height: 20px;
}
#checkbox-all{
  width: 40px;
  line-height: 27px;
  text-align: center;
  margin-right: 10px;
}
#card-list{
  width: 100%;
}
#card{
  width: 100%;
  height: 150px;
  margin-top: 20px;
  background-color: #FAF4C0;
  border-radius: 10px;
  box-shadow: 1px 3px 10px darkgray;
}
#card-info{
  width: 40px;
  height: 100%;
  margin-right: 10px;
}
#card-num{
  height: 50%;
  line-height: 60px;
  text-align: center;
}
#checkbox-one{
  text-align: center;
}
#card-body{
  width: calc(100% - 50px);
  height: 100%;
}
#title{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0px;
  line-height: 1.5;
}
#title > span{
  margin: 0 10px;
  color: #008000;
}
#title > a:hover{
  color: #47C83E;
}
#card-body > hr{
  width: 98%;
  margin: auto;
}
#hashtag{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0px;
  line-height: 1.5;
}
#hashtag > span{
  margin: 0 10px;
  color: #008000;
}
#hashtag > ul > .tag-item{
  height: 25px;
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  line-height: 25px;
  padding: 0 5px;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* list 끝 */
/* status-setter 시작 */
#status-setter{
  width: 150px;
  box-shadow: 1px 1px 5px lightgray;
}
.side-bar-name{
  width: 100%;
  height: 50px;
  margin-top: 170px;
  margin-bottom: 10px;
  position: sticky;
  top: 240px;
}
.side-bar-name > h4{
  text-align: center;
  line-height: 50px;
  color: #008000;
}
.setter-form{
  width: 100%;
  margin: auto;
  position: sticky;
  top: 300px;
}
.setter-box{
  width: 100%;
  height: 120px;
}
.setter-name{
  width: 100%;
  height: 40%;
  text-align: center;
}
.setter-name > span{
  line-height: 40px;
}
.setter-select{
  width: 100%;
  height: 60%;
  text-align: center;
}
.setter-select > select{
  width: 90%;
  height: 30px;
  text-align: center;
  font-family: inherit;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
}
.btn{
  width: 80px;
  margin: 20px auto;
}
.btn > input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  background-color: #008000;
  color: white;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
  cursor: pointer;
  width: 100%;
  height: 30px;
}
/* status-setter 끝 */