/* 스타일 */
/* main 시작 */
#main-wrap{
  width: 900px;
  margin: auto;
  padding: 10px;
}
#welcome-msg{
  height: 80px;
  margin-top: 30px;
  padding: 10px;
}
#first-main{
  height: 200px;
  margin: auto;
  margin-bottom: 80px;
}
#first-sentence{
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
#first-sentence > h3{
  color: #006E00;
}
#first-content{
  height: calc(100% - 30px);
  line-height: 30px;
  background-color: #FAF4C0;
  border-radius: 20px;
}
#content-title{
  width: 100%;
  height: 40%;
  line-height: 80px;
}
#content-title > span{
  padding-left: 30px;
  color: darkgray;
}
#first-content > hr{
  width: 95%;
  margin: auto;
}
#content-body{
  width: 100%;
  height: 50%;
  margin-top: 10px;
}
#content-body > span{
  padding-left: 30px;
  color: darkgray;
}
#second-main{
  margin: auto;
  margin-bottom: 60px;
}
#second-sentence{
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
#second-sentence > h3{
  color: #006E00;
}
#second-content{
  line-height: 30px;
}
#second-content > span{
  padding-left: 10px;
}
#recent-tag-box{
  margin-top: 20px;
  height: 110px;
  background-color: #FAF4C0;
  padding-left: 10px;
  border-radius: 20px;
} 
#recent-tag-box > h4{
  color: #008000;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
#recent-tag-box > span{
  padding-left: 10px;
  color: darkgray;
}
#recent-tag-list{
  margin-left: 10px;
  margin-top: 10px;
}
#recent-tag-list > .tag-item{
  height: 30px;
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  line-height: 30px;
  padding: 0 5px;
  border: solid 1px green;
  border-radius: 4px;
  box-shadow: 1px 1px 5px darkgray;
  margin-right: 5px;
  margin-bottom: 5px;
}
#third-main{
  margin: auto;
  margin-bottom: 60px;
}
#third-sentence{
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
#third-sentence > h3{
  color: #006E00;
}
#third-content{
  line-height: 30px;
}
#third-content > span{
  padding-left: 10px;
}
#learning-status-box{
  margin-top: 20px;
  height: 180px;
  background-color: #FAF4C0;
  padding-left: 10px;
  border-radius: 20px;
}
#learning-status-box > h4{
  padding-left: 10px;
  color: #008000;
  padding-top: 10px;
  margin-bottom: 10px;
}
#learning-status-box > span{
  padding-left: 10px;
  color: darkgray;
}
.learning-status-count{
  padding-left: 10px;
  color: darkgray;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* main 끝 */