/* 스타일 */
/* main 시작 */
#main-wrap{
  width: 900px;
  height: 1000px;
  margin: auto;
  padding: 10px;
}
#welcome-msg{
  height: 80px;
  margin: auto;
  line-height: 80px;
  padding: 10px;
}
#first-main{
  height: 250px;
  margin: auto;
  margin-bottom: 30px;
}
#first-sentence{
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
#first-content{
  height: calc(100% - 30px);
  line-height: 30px;
  background-color: #FAF4C0;
  border-radius: 20px;
}
#content-title{
  width: 100%;
  height: 30%;
  line-height: 80px;
}
#content-title > h4{
  padding-left: 30px;
  color: darkgray;
}
#first-content > hr{
  width: 95%;
  margin: auto;
}
#content-body{
  width: 100%;
  height: 50%;
}
#content-body > h4{
  padding-left: 30px;
  color: darkgray;
}
#content-tag{
  width: 100%;
  height: 20%;
}
#content-tag > span{
  padding-left: 30px;
  color: darkgray;
}
#second-main{
  margin: auto;
  margin-bottom: 10px;
}
#second-sentence{
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
#second-content{
  line-height: 30px;
}
#second-content > span{
  padding-left: 10px;
}
#recent-tag-box{
  margin-top: 20px;
  height: 100px;
  background-color: #FAF4C0;
  padding-left: 10px;
  border-radius: 20px;
} 
#recent-tag-box > span{
  padding-left: 10px;
  line-height: 40px;
  color: darkgray;
}
#recent-tag-list{
  padding-left: 10px;
  color: darkgray;
}
#third-main{
  margin: auto;
}
#third-sentence{
  height: 30px;
  line-height: 30px;
  padding: 10px;
}
#third-content{
  line-height: 30px;
}
#third-content > span{
  padding-left: 10px;
}
#learning-status-box{
  margin-top: 20px;
  height: 100px;
  background-color: #FAF4C0;
  padding-left: 10px;
  border-radius: 20px;
} 
#learning-status-box > span{
  padding-left: 10px;
  line-height: 40px;
  color: darkgray;
}
#learning-status-count{
  padding-left: 10px;
  color: darkgray;
}
/* main 끝 */